db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
*.sim/
*.testbench/

*.bak
*.orig
*.rpt
*.summary
*.smsg
*.txt
*.done
*.jdi
*.pin
*.pof
*.sof
*.sld
*.qws
*.qqs

*_generation_script.tcl
*_inst.v
*_inst.vhd
*_bb.v

